@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root{
    --cor1:#0396A6;
    --cor2:#7E84F2;
    --cor3:#0511F2;
    --cor4:#9303A6;
    --cor5:#EE05F2;
}
*{
    padding:0px;
    margin:0px;
}

/*//////////////////////////////// HEADER ///////////////////////////////*/

#hora{
    margin-left:10px;
    display: inline-block;
    font: 1em "bungee", arial, helvetica, sans-serif;

}
#pt{
    display:inline-block;
    margin-right:10px;
    vertical-align:4px;
}
#minuto{
    margin-left:-9px;
    display: inline-block;
    font: 1em "bungee", arial, helvetica, sans-serif;
}

header{
    background: url('../imagens/espaço.avif') center center no-repeat fixed;
    background-size:cover;
    height:200px;
    color:white;
    font:500 2em arial;
    
}
header>h1{

    position:absolute;
    left:50%;
    top:20px;

    transform:translate(-50%);
    font:2em "bungee", arial, sans-serif;

    animation:aparecer1 2s;
}
@keyframes aparecer1{
    0%{color:rgba(255, 255, 255, 0)}

    100%{color:rgb(255, 255, 255)}
}

#hora:hover, #minuto:hover{ 
    color:red;
    transition-duration: 1s;
}

/*//////////////////////////////// MAIN /////////////////////////////////*/

main{
    background-color: white;
    max-width:1000px;
    min-width:250px;
    margin:auto;
   /* box-shadow: inset 1px 2px 6px 2px rgba(0, 0, 0, 0.349);*/
    padding:60px 20px 0px 20px;
}
main h2{
    background-image:linear-gradient(to left, var(--cor1), var(--cor2));
    
    max-width:500px;
    width:82vw;
    border-radius:10px;
    font:800 1.3em 'bungee', arial, sans-serif;
    margin:auto;
}
main h3{
    font: bold 1.4em arial;
}

/*//////////////////////////// SECTIONS /////////////////////////////////*/

section{
    text-align:center;
}
section>p{
    font:bold 1em arial;
    margin:30px 0px 30px 0px;
    text-indent:10px;
    text-align:justify;
    line-height: 20px;;
}
section a{
    text-decoration:none;
    color:var(--cor1);
}
section a:hover{
    color:var(--cor3);

    animation-name:cor;
    animation-duration:1s;
}
@keyframes cor{
    0%{color:var(--cor1)}
    100%{color:var(--cor3)}
}

/*///////////////////////////////// IMAGENS /////////////////////////////*/

#txt{
    position:absolute;
    left:35vw;
    max-width:600px;
    width:60vw;
    margin:10vh 5px 0px 0px;
}
#img1{
    max-height:500px;
    max-width:1000px;
    background:rgba(0, 0, 0, 0) url('../imagens/espaço.avif') center center no-repeat fixed;
    background-size:cover;
    border-radius:0px 10px 0px 10px;

    margin:30px 0px 30px 0px;
}
#img2{
    display:inline-block;
    margin-top:40px;
    max-width:400px;
    width: 50vw; 
    background-repeat: no-repeat;

    /*animation-name:flutuar;
    animation-duration:3s;
    animation-iteration-count:infinite;*/
}
@keyframes flutuar{
    0%{transform:rotateY(0px)}
    50%{transform:translateY(10px)}
    100%{transform:translateY(0px)}
}

/*////////////////////////////// RODAPÉ /////////////////////////////////*/
footer{
    bacKground-image:linear-gradient(to left, var(--cor1), var(--cor2));
    
    max-width:700px;
    font:1.5em 'bungee', helvetica, sans-serif;
    text-align:center;
    border-radius:10px;
    margin:auto;
}
footer a{
    color:var(--cor5);
    text-decoration:none;
}footer a:hover{
    color:var(--cor3); 

    animation-name:mudacor;
    animation-duration:3s;
    animation-iteration-count: 1;
}
@keyframes mudacor{
    0%{color:var(--cor5)}
    100%{color:var(--cor3)}
    /*100%{color:var(--cor5)}*/
}

/*/////////////////////////////// PAG. TERRA ////////////////////////////*/
.terra{
    background:var(--cor1);

}
header#t1 img{
    width:40px;
    position:absolute;
    top:10px;
    left:10px;
}
/*////////////////////////////// BODY ///////////////////////////////////*/

body{
   
}
/*////////////////////////////// MAIN ///////////////////////////////////*/

main.terra{
    text-align:center;
    margin:auto;
    
}

/*//////////////////////////// SECTION //////////////////////////////////*/

#t2,#t4{
    position:absolute;
    left:10px;

    background:white;
    border-radius:10px;
    box-shadow: 2px 3px 6px 1px #0000004d;
    width:20vw;
    height:13vw;
    margin-left:10px;
    padding:10px;

    font:bold 2vw arial;

    animation-name:aparecer;
    animation-duration:2s;
}
#t3{
    position:absolute;
    right:10px;

    background:white;
    border-radius:10px;
    box-shadow: 2px 3px 6px 1px #0000004d;
    width:20vw;
    height:13vw;
    margin-left:10px;
    padding:10px;

    font:bold 2vw arial;

    animation-name:aparecer;
    animation-duration:2s;
}



@keyframes aparecer{
    0%{background-color:rgba(255, 255, 255, 0); color:rgba(255, 255, 255, 0)}

    100%{background-color:rgb(255, 255, 255); color:rgb(0, 0, 0)}
}


img.t2{
    max-width:500px;
    width:60vw;
    padding:40px;
    margin-top:162px;

    animation-name:flutuar;
    animation-duration:3s;
    animation-iteration-count: infinite;
}

